* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 60%;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-box input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.gender-box {
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #2563EB;
}